beautifulsoup4==4.10.0
censys==2.2.2
colorama==0.4.4
dnspython==2.3.0
fastapi==0.95.2
matplotlib==3.7.1
motor==3.1.2
networkx==3.1
pydantic==1.10.7
pymongo==4.3.3
python-dotenv==1.0.0
Requests==2.30.0
setuptools==65.5.1
win_unicode_console==0.5
